@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
  overflow-x: hidden;
}

.container {
  max-width: 80%;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-around;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
}

.flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flex-end-no {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex-start-no {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.fl-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fl-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.alg-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alg-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.jst-btw {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jst-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jst-rnd {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.jst-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

img {
  max-width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style: none;
}

.text-center {
  text-align: center;
}

.text-up {
  text-transform: uppercase;
}

.text-right {
  text-align: right;
}

.text-capp {
  text-transform: capitalize;
}

span {
  display: inline-block;
}

:focus {
  outline: none;
}

.col-8 {
  width: 100%;
}

.col-7 {
  width: 87.5%;
}

.col-6 {
  width: 75%;
}

.col-5 {
  width: 62.5;
}

.col-4 {
  width: 50%;
}

.col-3 {
  width: 37.5%;
}

.col-2 {
  width: 25%;
}

.col-1 {
  width: 12.5%;
}

body {
  font-family: sans-serif;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 15rem;
}

header .logo a {
  padding: 1rem;
}

header .logo a img {
  padding: 1rem;
}

img {
  max-width: 100%;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

h1 {
  position: relative;
  font-size: 10rem;
  color: #000;
  letter-spacing: 2rem;
}

.goal {
  top: -165%;
  left: 75%;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  position: absolute;
  white-space: nowrap;
}

.black-block {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100vh;
  width: 100vw;
  background-color: #000;
  z-index: -1;
}

.juice {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.juice img {
  width: 50vw;
}

.leaves {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 1rem;
  left: 50%;
  z-index: 2;
}

.leaves img {
  max-width: 100%;
  max-height: 100%;
}

.leaves .layer {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 1px;
  background-color: #fff;
}

.leaves .layer:nth-child(1) {
  left: -30% !important;
}

.leaves .layer:nth-child(2) {
  left: 25% !important;
}

.leaves .layer:nth-child(3) {
  left: 10% !important;
}

.leaves .layer:nth-child(4) {
  left: 40% !important;
}

.leaves .layer:nth-child(5) {
  left: -10% !important;
}
/*# sourceMappingURL=main.css.map */